:root {
  --lightGreen: rgb(161, 193, 182); 
  --darkGrey: rgb(37, 37, 37); 
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

body { 
    font-family:'Nunito', sans-serif;;
}

h2 {
  font-size: 200%;
  position: relative;
  top: -25px;
  color: black;
}

#logo {
    position: relative;
    left: 20px;
    font-size: 200%;
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.italic {
    font-style: italic;
}

/* Responsive hamburger menu found at https://codepen.io/alvarotrigo/pen/MWEJEWG */
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*background-color: #00BAF0;*/
    /* background: linear-gradient(90deg, rgb(42, 105, 41) 0%, rgb(50, 71, 50) 100%); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 8vh;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > a {
    margin: 0 1rem;
    overflow: hidden;
    color: var(--darkGrey);
    text-decoration: none;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--darkGrey);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgb(255, 255, 255);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 10px;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: black;
      z-index: 1000;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: rgb(223, 223, 223);
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
    .menu > a {
        color:rgb(223, 223, 223);
    }
  }
  /* End of hamburger menu styling */

  /* About me Styling */
#aboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 5%;
    padding: 20px;
    background-color: var(--lightGreen);
    border-radius: 20px;
}

#aboutMe img {
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 50%;
}

#intro {
    position: relative;
    font-size: 300%;
    font-weight: 300;
    width: 50%;
    left: 5vw;
}

/* Projects container styling */
.desktop {
  display: block;
}

.mobile {
  display: none;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin: 20px;
    top: 50px;
}

/* Latest project styling */

#latestProject a {
    color: white;
    text-decoration: none;
}

/* adds image background with filter to latest project, found at https://css-tricks.com/apply-a-filter-to-a-background-image/ */
#firstCard::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 50vw; 
    height: 35vh;
    background-image: url("../imgs/codeRefractorImg.png");
    background-size: cover;
    z-index: -99;
    border-radius: 10px;
    filter: brightness(.6) grayscale(50%) blur(2px);
}

#firstCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    width: 50vw;
    height: 35vh;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    z-index: 999;
}

#firstCard:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

#firstCard h3 {
    position: relative;
    top: -20px;
    font-size: 200%;
}

#firstCard p {
    position: relative;
    text-align: center;
    font-size: 110%;
    width: 75%;
}

/* past project styling */
#pastProjects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 85vw;
    z-index: 2;
}

#pastProjects a {
    text-decoration: none;
    color: white;
}

#pastProjects a:hover {
    text-decoration: none;
    color: white;
}

/* General project card styling */
.card h3{
    text-decoration: none;
    color: white;
    position: relative;
    top: -10px;
    font-size: 120%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
  margin: 20px;
  width: 350px;
  height: 25vh;
  border-radius: 10px;
}

.card p {
  position: relative;
  text-align: center;
  font-size: 100%;
  width: 75%;
}

.card:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.1);

}

/* adds filter to background image to projects, found at https://css-tricks.com/apply-a-filter-to-a-background-image/ */
.card2:before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 350px; 
  height: 25vh;
  background-image: url("../imgs/artPortfolioImg.png");
  background-size: cover;
  z-index: -99;
  border-radius: 10px;
  filter: brightness(.6) grayscale(50%) blur(2px);
}

.card1:before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 350px; 
  height: 25vh;
  background-image: url("../imgs/photozineImg.png");
  background-size: cover;
  z-index: -99;
  border-radius: 10px;
  filter: brightness(.6) grayscale(50%) blur(2px);
}

.comingSoon{
  background: var(--lightGreen);
}

.comingSoon:hover {
  transform: none;
}

/* contact styling */
#contact {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  top: 20px;
  margin: 0;
  padding: 50px;
  background-color: var(--lightGreen);
}

#contact p {
  font-size: 120%;
  margin: 20px;
}

#contact ul {
  text-align: center;
}

#contact ul li {
  display: inline-block; /*makes ul horizontal*/
}

#contact a {
  color: black;
  text-decoration: none;
  margin: 0 5px 0 5px;
}

.faStyling {
  font-size: 35px;
}

#emailContact {
  position: relative;
  top: 30px;
  text-align: center;
  margin: auto;
}

/* footer styling */
footer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 20px;
  height: 100px;
  background-color: var(--darkGrey);
}

footer p {
  color: white;
}

/* mobile devices */
/* iPhone X-13 */
@media screen and (max-width: 550px) {
  #aboutMe {
    height: 70vh;
  }

  #aboutMe img {
    width: 80vw;
    height: auto;
  }
  #intro {
    width: 85%;
    font-size: 130%;
    left: 0;
  }

  h2 {
    font-size: 150%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  #projects {
    position: static;
    text-align: center;
    margin: 60px 0 40px 0;
    padding: 0;
    top: 40px;
  }

  #firstCard::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 80vw; 
    height: 30vh;
    background-image: url("../imgs/codeRefractorImg.png");
    background-size: cover;
    z-index: -99;
    border-radius: 10px;
    filter: brightness(.6) grayscale(50%) blur(2px);
  }

  #firstCard {
    width: 80vw; 
    height: 30vh;
    margin-top: 0;  
  }

  .card {
    width: 70vw;
    height: 70vw;
    margin: 20px;
  }

  .card2:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 70vw; 
    height: 70vw;
    background-image: url("../imgs/artPortfolioImg.png");
    background-size: cover;
    z-index: -99;
    border-radius: 10px;
    filter: brightness(.6) grayscale(50%) blur(2px);
  }

  .card1:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 70vw; 
    height: 70vw;
    background-image: url("../imgs/photozineImg.png");
    background-size: cover;
    z-index: -99;
    border-radius: 10px;
    filter: brightness(.6) grayscale(50%) blur(2px);
  }

  .comingSoon {
    height: 20vh;
    top: 20px;
  }

  #contact {
    height: 25vh;
    position: static;
    padding: 20px 10px 20px 10px;
  }

  #contact h2 {
    font-size: 120%;
    top: 0;
  }

  #contact p {
    font-size: 100%;
    font-weight: 100;
    width: 100%;
    margin: 5px 0 5px 0;
  }

  #contact ul {
    padding: 20px 0 0 0;
  }

  #emailContact {
    top: 5px;
  }

  footer {
    position: static;
    height: 60px;
    font-size: 100%;
  }
}